
<html>
<head>
    <title> <%= title %> </title>
</head>
<body>
    <h1><%= contentHeader %> </h1>
    <% for (let i =0 ; i< 10; i++) {%>

        <ul>
            <% if (i%2 == 0){%>
            <li><%= i %></li>
            <%}%>
        </ul>
        <%}%>

    <%if(false){%>
        <h1>it's true</h1>
        <%}
        else {%>

        <h1>It's false</h1>
       <% }%>
</body>
</html>